
body div ul li {
  display: inline-block;
}
.three-images {
  margin: 0 auto;
}

img {
  width: 400px;
  height: 400px;
}

body h1 {
  font-size: 40px;
  margin: 15px 0px 15px 30px;
}

body h2 {
  font-size: 20px;
  margin: 15px 0px 15px 30px;
}

.chart-section {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}
