body {
  width: 960px;
  margin: 0 auto;
}

body div ul li {
  display: inline-block;
}
.rand-image {

}

.rand-image {
  margin: 8px 8px 8px 8px;
  transition-property: background-color, color;
  transition-duration: 350ms;
  transition-timing-function: ease-out;
  background-color: grey;
  width: 290px;
  height: 290px;
  color: white;
  border-color: black;
  box-shadow: 2px 2px 1px black;
  padding: 2px 4px;
  border: solid 1px black;
}

.rand-image:hover {
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 350ms;
  transition-timing-function: ease-out;
  background-color:blue;
  color:black;
  box-shadow: 2px 2px 1px black;
}

body h1 {
  font-size: 40px;
  margin: 15px 0px 15px 30px;
}

body h2 {
  font-size: 20px;
  margin: 15px 0px 15px 30px;
}

.chart-section {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}
